
+{
    box-sizing: border-box;
}

.container {
    border: 5px solid #185d25;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.left_box {
    height: 160px;
    width: 160px;
    border: 4px solid;
    border-radius: 1px;
    color: #ff6600;
}

.right_box{
    height: 100px;
    width: 100px;
    border: 4px solid;
    border-radius: 1px;
    color: #185d25;
}

.box_wrapper {
    border: 4px solid #ff6600;
    height: 140px;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

